.container {
    width: 1170px;
    margin: 0 auto;
}
.movie_wrapper {
    display: flex;
    margin-top: 50px;
}
.movie_poster {
    margin-right: 25px;
    width: 300px;
    height: 445px;
}
.movie_poster_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.title {
    margin-bottom: 10px;
    font-weight: 500;
}
.director {
    margin-bottom: 10px;
    font-size: 14px;
}
.rating {
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 992px) {
    .container {
        width: 95%;
    }
    .movie_wrapper {
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .movie_poster {
        margin-right: 0px;
        margin-bottom: 20px;
    }
}
